<div class="container">
    <div class="card-container">
<p>city-detail works!</p>
<h3>City: {{city.name}} -   Points Of Interest: {{city.numberOfPointsOfInterest}}</h3>
<div class="card m-3" *ngFor="let point of city.pointOfInterest" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Point Of Interest Id: {{point.id}}</h5>
      <p class="card-text">Name: {{point.name}}</p>
      <p class="card-text">Description: {{point.description}}</p>
    </div>
</div>
    </div>